DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5434
DB_DATABASE=prosaude_db
DB_USERNAME=pro_user
DB_PASSWORD=SenhaSegura123!
DB_SCHEMA=public

DB_SSLMODE=disable

DB_MIN_POOL=1
DB_MAX_POOL=10

APP_URL=http://localhost:8000